<h2>Products</h2>

<div>
  <label>Name:</label>
  <input [(ngModel)]="selectedProduct.name" placeholder="Name" />
  <label>Price:</label>
  <input [(ngModel)]="selectedProduct.price" placeholder="Price" />
  <label>Description:</label>
  <input [(ngModel)]="selectedProduct.description" placeholder="Description" />
  <button (click)="saveProduct()">Save</button>
</div>

<ul>
  <li *ngFor="let product of products" (click)="selectProduct(product)">
    {{ product.name }} - {{ product.price }}
    <button (click)="deleteProduct(product.id)">Delete</button>
  </li>
</ul>
